name: Hasaki Automation Regression

on:
  push:
    branches: [develop/github_action]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  E2E_Purchase_Flow:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Run Maven Tests (Headless)
        run: |
          mvn clean test \
          -DsuiteXmlFile=src/test/java/resources/master/Master_Smoke.xml \
          -Dheadless=true
        continue-on-error: true

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: test-failure-artifacts
          path: |
            target/surefire-reports/
            ScreenShots/
            allure-results/