name: Hasaki Automation Regression

on:
  push:
    branches: [develop/github_action]
  pull_request:
    branches: [main, master]
  workflow_dispatch:

jobs:
  automation-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Run Tests
        run: mvn clean test -DsuiteXmlFile=src/test/java/resources/master/Master_E2E_Purchase.xml

      - name: Upload Artifacts on Failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-failure-artifacts
          path: |
            target/surefire-reports/
            ScreenShots/
            allure-results/